body {
   font-family: "Segoe UI", Tahoma, sans-serif;
}
.my-table {
   font-size: 12px;
   background-color: lightgrey;
   border: lightgray;
   border-collapse: collapse;
   margin: 20px auto;
}
.my-table td {
   text-align: center;
   padding: 5px;
}
td > button {
   padding: 4px 6px;
   font-size:  10px;
   box-shadow: 1px 1px 1px grey;
}
.magenta {
   color: magenta;
   width: 35px;
   height: 25px;
}
.blue {
   color: blue;
   width: 30px;
   height: 25px;
}
.red {
   color: red;
   width: 30px;
   height: 25px;
}
.gray {
   color: gray;
   width: 30px;
   height: 25px;
}
.backspace {
   width: 80px;
   height: 25px;
}

