body {
    /*font-family: Arial, sans-serif;*/
    text-align: center;
    padding: 20px;
    background-color: mistyrose;
}

form, .scoreboard, .choices {
    margin: 20px auto;
}


table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
}

img {
    height: 80px;

}

#finalScreen {
    display: none;
}
#scoreboard {
    display: none;
}